.container-fluid
  .row-fluid
    %hr
    %h2= t :about

.container-fluid.hidden-phone.hidden-tablet
  .row-fluid
    .span6
      %center
        %iframe{ frameborder:0, width:480, height:270, src:"http://www.dailymotion.com/embed/video/#{t("about-videoid.#{country}")}?autoPlay=1"}
    .span6
      %p= t("about-description.#{country}")
      
.container-fluid.visible-phone.visible-tablet
  .row-fluid
    %p= t("about-description.#{country}")
    %br
  .row-fluid
    %center
      %iframe{ frameborder:0, width:480, height:270, src:"http://www.dailymotion.com/embed/video/#{t("about-videoid.#{country}")}?autoPlay=1"}