.decoration
  .background
    = image_tag "background/#{country}.jpg"

    .title
      %p.site-title= t(:title)
      =image_tag "hrtitle.png"
      %h1.welcome= t("country.#{country}")
      %p.introduction= t("introduction.#{country}")

    .country-switcher
      %center
        - data.discovery.countries.each do |c|
          .country-block{class: "#{c}"}
            - if c.eql?(country)
              = image_tag "buttons/active/#{c}.png"
              %p= t("country.#{c}")
            - else
              = link_to "/#{c}-ie.html" do
                = image_tag "buttons/inactive/#{c}.png", :class => 'switcher', :'data-country' => "#{c}"
                %p= t("country.#{c}")
            
:javascript
  $('.switcher').mouseover(function() {
    var country = $(this).data("country");
    $(this).attr('src', '/images/buttons/active/' + country + '.png');
  });
  $('.switcher').mouseout(function() {
    var country = $(this).data("country");
    $(this).attr('src', '/images/buttons/inactive/' + country + '.png');
  });
            
            

