.container-fluid
  .row-fluid
    %hr
    %h2= t :slideshow

.container-fluid
  .row-fluid
    .span12
      %center
        #filters
          = link_to t('categories.all'), "#", :"data-filter" => "*", :class => 'btn btn-primary'
          - categories(country).each do |category|
            = link_to t("categories.#{category}"), "#", :"data-filter" => ".#{category}", :class => 'btn btn-primary'

  .row-fluid
    .span12
      %br
  
  .row-fluid
    .span12
      #slideshow-container
        - discovery_images(country).shuffle.each do |country, category, image, thumbnail|
          .item{:class => "#{category}"}
            = link_to image_tag(thumbnail), image_path(image), rel: "prettyPhoto[]" 
            